*{
padding: 0;
margin: 0;
box-sizing: border-box;



}

body {
display: flex;
flex-direction: column;

}

.mainContainer{

    text-align: center;
    background-color: lightskyblue;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    float: right;

  }

    
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

.ArofTriangle {

    margin: 0 auto;
    padding: 2rem;
    background-color: lightgreen;
}

.hypotaneous-container{

    background-color: lightcoral;
    padding: 2rem;
    margin: 0 auto;
    width: 50vh;
}

.quiz-container {

    background-color: lightsalmon;
    padding: 2rem;
    margin: 0 auto;

} 